urllib3==1.26.15
protobuf==3.20.3
numpy
scipy
pandas==1.3.5
scikit-learn
matplotlib
seaborn
jupyter
ray
tqdm
requests
tensorboard
pydantic
dask[complete]
pyzmq
joblib
pyarrow
sqlalchemy==1.4.43
pymysql
pulsar-client
MNN
boto3==1.33.13
wget
websocket-client
PuLP
redis
pytz
torch
torchaudio
torchvision
torchmetrics
websockets